@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold-50: #fbf9f1;
  --color-gold-100: #f5f0db;
  --color-gold-200: #eadfb4;
  --color-gold-300: #dcd088;
  --color-gold-400: #d4af37;
  --color-gold-500: #c59b27;
  --color-gold-600: #a3791d;
  --color-gold-700: #825b18;
  --color-gold-800: #6d4a19;
  --color-gold-900: #5d3f1a;
  --color-gold-950: #36220b;

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

:root {
  --background: #0c0a09; /* stone-950 */
  --foreground: #fafaf9; /* stone-50 */
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gold-900, currentColor);
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: var(--color-gold-900);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-gold-700);
}

::selection {
  background-color: var(--color-gold-500);
  color: #000;
}
